.photo-column {
    background-color: beige;
}

#photo-gallery {
    background-color: gray;
}

.photo {
    overflow: hidden;
}

img {
    object-fit: cover;
    width: 100%;
    height: 250px;
}

@media (min-width: 576px) {
    .video {
        margin-top: 20px;
        width: 100%;
        height: 400px;
    }
}

@media (min-width: 768px) {
    .video {
        margin-top: 20px;
        width: 100%;
        height: 600px;
    }
}

@media (min-width: 992px) {
    .video {
        margin-top: 20px;
        width: 100%;
        height: 800px;
    }
}

